* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v57_792 {
  width: 375px;
  height: 812px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_793 {
  width: 300px;
  height: 557px;
  background: url("../images/v57_793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 38px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v57_794 {
  width: 300px;
  height: 300px;
  background: url("../images/v57_794.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_795 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_795.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_803 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_803.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_811 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_811.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_819 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_819.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_827 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_835 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_835.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_843 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_843.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_851 {
  width: 300px;
  height: 300px;
  background: url("../images/v57_851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 0px;
  overflow: hidden;
}
.v57_852 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_852.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_860 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_868 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_876 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_876.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_884 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_884.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_892 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_892.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v57_900 {
  width: 189px;
  height: 27px;
  background: url("../images/v57_900.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  overflow: hidden;
}
.v57_927 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 267px;
  overflow: hidden;
}
.v57_928 {
  width: 15px;
  height: 16px;
  background: rgba(176, 88, 130, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v57_929 {
  width: 24px;
  height: 24px;
  background: url("../images/LinkedIN_black.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v57_901 {
  width: 162px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 31px;
  left: 38px;
  font-family: Orbitron;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v57_902 {
  width: 38px;
  height: 38px;
  background: url("/images/v57_902.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 299px;
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.v57_903 {
  width: 131px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 89px;
  left: 206px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: right;
}
.v57_904 {
  width: 299px;
  height: 1px;
  background: linear-gradient(rgba(34, 238, 225, 1), rgba(176, 88, 130, 1));
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 38px;
  overflow: hidden;
}
.v57_905 {
  width: 299px;
  height: 1px;
  background: linear-gradient(rgba(34, 238, 225, 1), rgba(176, 88, 130, 1));
  opacity: 1;
  position: absolute;
  top: 776px;
  left: 36px;
  overflow: hidden;
}
.v57_906 {
  width: 75px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 783px;
  left: 151px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 6px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v57_908 {
  width: 26px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 730px;
  left: 36px;
  font-family: Orbitron;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v57_910 {
  width: 38px;
  height: 38px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 299px;
  overflow: hidden;
}
.v57_911 {
  width: 38px;
  height: 38px;
  background: url("/images/Discord_white.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v57_912 {
  width: 22px;
  height: 22px;
  background: rgba(34, 238, 225, 1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 8px;
}
